{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "bracketSpacing": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/.*$",
        "^@/managers/.*$",
        "^@/schemas/.*$",
        "^@/utils/.*$",
        "^@/icons/.*$",
        "^@/.*$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5"
}
