@keyframes opacity-fade {
    from {
        opacity: 0;
    }
}

@keyframes scale-fade {
    from {
        scale: 0.86;
    }
}

@keyframes zoom-fade {
    from {
        opacity: 0;
        transform: scale(0.86);
    }
}
