@keyframes tab-created {
    from {
        width: 0;
    }
}

@keyframes tab-removed {
    to {
        width: 0;
    }
}

@keyframes tab-title-progress-added {
    to {
        transform: translateY(-3px);
    }
}

@keyframes tab-slide-to-center {
    to {
        transform: translateX(0);
    }
}

@keyframes icon-bounce {
    5% {
        translate: 0 -4px;
        scale: 1.05;
    }

    10% {
        translate: 0 2px;
        scale: 0.95;
    }

    15% {
        translate: 0;
        scale: 1;
    }
}
