[Desktop Entry]
Type=Application
Exec=/usr/bin/tess
Icon=tess
Name=Tess
Comment=Execute CLI program
Comment[fr_FR]=Exécute des programmes en ligne de commande
GenericName=Terminal
Categories=System;TerminalEmulator;GTK;
Keywords=command;console;cli;xterm;prompt;
Keywords[fr_FR]=commande;console;cli;xterm;invite;invite de commande;
Terminal=false
Actions=new-window;new-tab;

[Desktop Action new-window]
Exec=/usr/bin/tess --window
Icon=tess-alt
Name=New Window
Name[fr_FR]=Nouvelle fenêtre

[Desktop Action new-tab]
Exec=/usr/bin/tess --tab
Icon=tess-alt
Name=New Tab
Name[fr_FR]=Nouvel onglet
