@use "variables";

@use "animations/tab";
@use "animations/popup";
@use "animations/toast";
@use "animations/common";

@use "ui/titlebar";

@use "components/interface/detailsCard" as *;
@use "components/interface/slider" as *;
@use "components/interface/toast" as *;
@use "components/interface/popup" as *;
@use "components/interface/tab" as *;
@use "components/ux/progressBar" as *;
@use "components/view/common" as *;

@use "../../node_modules/@xterm/xterm/css/xterm.css";

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Inter;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 16px;
    background: var(--app-background);
    font-weight: 500;
    color: var(--text-color);
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(212, 212, 212, 0.15);
    border-radius: 6px;
}

.background-image {
    height: 100%;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    position: absolute;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
